#footer_deal
  if theme.footer.footer_icons.enable
      each i in theme.footer.footer_icons.left
        if i.class == "in"
          a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
        else if i.class == "out"
          a.deal_link(target='_blank', rel='noopener external nofollow', href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
        else
          a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
  img.footer_mini_logo.entered.loading(title='返回顶部' onclick='btf.scrollToDest(0, 500)' src=`${theme.footer.footer_logo.url}` data-ll-status='loading')
  if theme.footer.footer_icons.enable
      each i in theme.footer.footer_icons.right
        if i.class == "in"
          a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
        else if i.class == "out"
          a.deal_link(target='_blank', rel='noopener external nofollow', href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
        else
          a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
#heo-footer
  if theme.footer.footer_group.enable
    each item in theme.footer.footer_group.footer_group_link
      .footer-group
        h3.footer-title=item.group_title
        .footer-links
          each i in item.footer_links
            a.footer-item(
              href=`${i.link}`
              target=i.class==="out"?"_blank":""
            )=i.text

#footer-banner
  .footer-banner-links
    .footer-banner-left
      #footer-banner-tips
        .copyright=theme.footer.copyright
    .footer-banner-right

      .footer-banner-group
        a.footer-small-link(href='/rss/' data-pjax-state='') 订阅
        a.footer-small-link(target='_blank' href='https://github.com/zhangyuhan2016/hexo-theme-acrylic-z' rel='noopener external nofollow noreferrer noopener') 主题
        each item in theme.footer.banner_link_group
          a.footer-small-link(href=`${item.link}` data-pjax-state='')=item.text

      a.footer-banner-link(target='_blank' href='https://beian.miit.gov.cn/#/Integrated/index' rel='noopener external nofollow noreferrer noopener')=theme.footer.icp
      a.footer-banner-link.cc(href='/agreement/cc/' title='cc协议' data-pjax-state='')
        i.fa-regular.fa-copyright
        i.fa-brands.fa-creative-commons-by
        i.fa-brands.fa-creative-commons-nc
        i.fa-brands.fa-creative-commons-nd
